body {
    font-family: Arial;
    background: #f0f0f0;
    padding: 30px;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #aaa;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.flash {
    background: lightgreen;
    border: 1px solid green;
    padding: 10px;
    width: 300px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
}
