<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
</head>
<body>

    <div id="header">
        <h1>Painel do Usuário</h1>
        <a href="{{ url_for('sair') }}"> 
            <button id="btn-sair">Sair</button>
        </a>
    </div>

    <div id="container">
        <h2>Bem-vindo, {{ usuario }}!</h2>

        <p class="info"><span>Descrição:</span> {{ dados.descricao }}</p> 
        
        <p class="info"><span>Perfil:</span> {{ dados.perfil }}</p>
        
        <p class="info"><span>Gênero:</span> {{ dados.genero }}</p>
        
        <p class="info"><span>Registro (RA):</span> {{ dados.registro }}</p>
        
        <p class="info"><span>Disciplina:</span> {{ dados.disciplina }}</p>
        
        <p class="info"><span>Orientador/Professor:</span> {{ dados.orientador }}</p>
        
        </div>

</body>
</html>