*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: linear-gradient(45deg, black, darkgrey); 
    min-height: 100vh;   
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#header{
    background-image: linear-gradient(90deg, white, darkgrey);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    color: black;
}

#header h1{
    font-size: 38px;
}

#btn-sair{
    background-color: rgb(129, 255, 255);
    padding: 10px 18px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: black;
}

#btn-sair:hover{
    background-color: rgb(72, 149, 149);
    color: white;
    cursor: pointer;
}

#container{
    margin: 40px auto;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 30px;
    border-radius: 20px;
    font-size: 22px;
    justify-content: center;
}

#container h2{
    margin-bottom: 20px;
    font-size: 32px;
    color: rgb(200,255,255);
}

.info{
    margin-bottom: 15px;
}

.info span{
    font-weight: bold;
    color: rgb(129, 255, 255);
}
