<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.name }} — SPA</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      <h1>{{ site.name }}</h1>
      <p>{{ site.description }}</p>
      <nav>
        <a href="#/">Home</a>
        <a href="#/categorias">Categorias</a>
        <a href="#/autores">Autores</a>
      </nav>
    </header>
    <main id="app"></main>
    <script src="/static/js/app.js"></script>
  </body>
</html>
